ul {
    list-style-type: none;
    margin: 0;
    padding: 10px 0px 20px 0px;
    overflow: hidden;
}

li {
    float: left;
    padding-right: 20px;
}

#main-container{
    width: 70%;
    margin: auto;
}

.column{
    float: left;
}

.column.left{
    width: 50%;
}
.column.center{
    width: 25%;
}
.column.right{
    width: 25%;
}

img{
    width: 100%;
}